<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Pulse Agency</title>
	<link rel="stylesheet" type="text/css" href="FF-Mark-Pro/style.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!-- Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
	<script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
</head>
<body>
	<div id="app" :class="{ready: ready}">
		<login v-if="!authenticated"></login>

		<div v-else>
			<sidebar :screen="screen"></sidebar>

			<div class="main">
				<div class="wrapper">
					<div class="head">
						<div class="head-title">
							{{title}}

							<div>
								<div class="search">
									<input type="text" placeholder="Search idols..." v-model="keyword"/>
									<img src="resources/search.svg" />
								</div>
							</div>
						</div>
						<div class="user">
							<div class="user-wrapper">
								<span class="name">{{authenticated}}</span>
								<button @click="signout">Sign out</button>
							</div>
							<span class="avatar" style="background-image: url(resources/person.svg)"></span>
						</div>
					</div>

					<div class="body">
						<idols :keyword="keyword" v-show="screen=='idols'"></idols>
						<activities :keyword="keyword" v-show="screen=='activities'"></activities>
						<activities-up-to-now :keyword="keyword" v-show="screen=='activities-up-to-now'"></activities-up-to-now>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<!-- Actions/APIs -->
	<script type="text/javascript" src="actions/index.js"></script>

	<!-- Helpers -->
	<script type="text/javascript" src="helpers/index.js"></script>
 
	<!-- Components -->
	<script type="text/javascript" src="components/sort.js"></script>
	<script type="text/javascript" src="components/gem.js"></script>
	<script type="text/javascript" src="components/status.js"></script>
	<script type="text/javascript" src="components/not-qualified.js"></script>
	<script type="text/javascript" src="components/table-empty.js"></script>
	<script type="text/javascript" src="components/date-picker.js"></script>
	<script type="text/javascript" src="components/idols-table.js"></script>
	<script type="text/javascript" src="components/activities-table.js"></script>
	<script type="text/javascript" src="components/activities-up-to-now-table.js"></script>
	<script type="text/javascript" src="components/create-popup.js"></script>
	<script type="text/javascript" src="components/loading.js"></script>
	<script type="text/javascript" src="components/sidebar.js"></script>

	<!-- Modules -->
	<script type="text/javascript" src="modules/login.js"></script>
	<script type="text/javascript" src="modules/idols.js"></script>
	<script type="text/javascript" src="modules/activities.js"></script>
	<script type="text/javascript" src="modules/activities-up-to-now.js"></script>

	<!-- Main app -->
	<script type="text/javascript" src="app.js"></script>
</body>
</html>