body{
	padding: 0;
	margin: 0;
	background: #f6f7f8;
}

*{
	box-sizing: border-box;
	font-family: FF Mark Pro;
}


body {
	height: 100vh;
	background: #F6F7F8;
	margin: 0;
}

.app-login {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.app-login .form-container {
	background: #FFF;
	width: 360px;
	border-radius: 10px;
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
	padding: 40px;
}

.app-login .form-container .logo {
	height: 30px;
	width: 130px;
	margin-bottom: 30px;
}
.app-login .form-container .logo img{
	max-height: 100%;
	max-width: 100%;	
}

.app-login .form-container .form-title {
	margin-top: 20px;
	font-size: 24px;
}

.app-login .form-container .form-input {
	margin-top: 20px;
}

.app-login .form-container .form-input input {
	width: 100%;
	border: 1px solid #d5d5d5;
	padding: 12px !important;
	border-radius: 4px;
	margin: 10px 0 6px 0;
	font-size: 14px;
	outline: none;
	box-shadow: none;
}

.app-login .form-container .form-input .error {
	color: red;
	font-size: 13px;
	margin-bottom: 10px;
	display: block;
}

.app-login .form-container .form-input input:focus {
	border: 1px solid #23DB87;
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
}

.app-login .form-container .response-error {
	margin-top: 10px;
	width: 100%;
	border-radius: 5px;
	background: #f40000;
	color: #fff;
	padding: 10px 15px !important;
	font-size: 13px;
}

.app-login .form-container button {
	color: #fff;
	font-size: 16px;
	background: #23DB87;
	border: none;
	outline: none;
	border-radius: 4px;
	margin-top: 30px;
	width: 100%;
	height: 45px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .2px;
}

.app-login .form-container button:active {
	opacity: .5;

}

#app{
	min-width: 1366px;
	opacity: 0;
}

#app.ready{
	opacity: 1;
}

.clearfix{
	clear: both;
}

.sidebar{
	padding: 30px 25px;
	min-height: 100vh;
	background: #fff;
	width: 260px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.sidebar .head{
	padding-bottom: 50px;
}

.sidebar .head img{
	width: 110px;
}

.sidebar > h3{
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	color: #999	;
}

.sidebar .items{
	margin-left: -12px;
}

.sidebar .items button{
	display: block;
	width: 100%;
	text-align: left;
	padding: 12px 12px 12px 32px;
	background: #fefefe;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-bottom: 10px;
	color: #333;
	font-size: 14px;
	outline: none;
	position: relative;
	font-weight: 400;
}

.sidebar .items button::after{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid #333;
	border-radius: 50%;
	left: 12px;
	top: calc(50% + 1px);
	transform: translateY(-50%);
}

.sidebar .items button.active{
	color: #fff;
	background: #23db87;
	border: 0;
	border-radius: 4px;
	font-weight: 500;
}

.sidebar .items button.active::after{
	border-color: #fff;
}

.sidebar .cp{
	font-size: 12px;
	color: #888;
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-weight: 500;
}

.main{
	float: right;
	width: calc(100% - 280px);
	min-height: 100vh;
	padding: 30px 50px;
	padding-top: 110px;
}

.main .wrapper{
	height: calc(100vh - 130px);
	overflow: auto;
	margin: auto;
}

.main .head{
	background: #fff;
	min-height: 50px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 20px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.05);
	margin: 0 0 20px;
	position: fixed;
    width: 100%;
    max-width: calc(100vw - 380px);
    z-index: 99;
    top: 20px;
    min-width: 986px;
}

.main .head .user .user-wrapper{
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.main .head .user{
	position: relative;
	padding-right: 55px;
}

.main .head .user .name{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333;
}

.main .head .user .avatar{
	position: absolute;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: #eee;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	background-position: center;
}

.main .head .user button{
	background: #fff;
	padding: 2px 5px 4px;
	border-radius: 3px;
	border: 1px solid #d5d5d5;
	display: inline-block;
	margin-top: 3px;
	outline: none;
	font-size: 13px;
}

.body{
	padding: 0 0 30px;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px;
}

.title{
	font-size: 18px;
	font-weight: 500;
	color: #666;
	text-transform: capitalize;
	margin: 15px 0 10px;
	padding: 0 10px 0;
}

.search{
	margin-left: 20px;
	position: relative;
}

.search input{
	padding: 8px 10px;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	background: 0;
	min-width: 200px;
	outline: none;
	font-size: 12px;
	padding-right: 30px;
}

.search img{
	width: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	opacity: .5;
}

button.add{
	background: #21dc86;
    color: #fff;
    border-radius: 4px;
    padding: 8px 10px;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.card{
	min-height: 100px;
	border-radius: 5px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,.05);
	background: #fff;
	padding: 0 20px 20px;
}

.card-title{
	padding: 20px 0 20px 0;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.table{
	width: 100%;
	margin-top: -20px;
	border: 1px solid #f0f0f0;
	background: #fcfcfc;
	border-radius: 5px;
}

.table tr th{
	font-weight: 500;
	color: #666;
	font-size: 14px;
	/*border-bottom: 1px solid #e5e5e5;*/
	padding: 20px 10px;
}

.table tr td{
	color: #333;
	font-size: 13px;
	padding: 15px 10px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	width: max-content;
}

.table tr td .name{
	position: relative;
	padding-left: 35px;
	font-weight: 500;
	min-width: 150px;
	display: inline-block;
}

.table tr td .avatar{
	width: 30px;
	height: 30px;
	position: absolute;
	background: #eee;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.table tr:last-child td{
	border-bottom: 0;
}

.table th:nth-child(3), table td:nth-child(3){
	text-align: left;
}

.table th:nth-child(2), table td:nth-child(2){
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 150;
}

.popup .overlay{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.90);
	z-index: 1;
}

.popup .popup-body{
	width: 360px;
	min-height: 50px;
	border-radius: 5px;
	background: #fff;
	z-index: 2;
	padding: 20px 25px;
}

.popup .popup-body h3{
	margin: 0 0 20px;
	font-weight: 500;
	font-size: 16px;
}

.popup .popup-body .frm label{
	display: block;
	font-size: 13px;
	margin: 0 0 8px;
}

.popup .popup-body .frm input{
	width: 100%;
	border-radius: 4px;
	padding: 8px 10px;
	border: 1px solid #d5d5d5;
	font-size: 14px;
	outline: 0;
}

.popup .popup-body .actions{
	text-align: right;
	margin: 20px 0 0;
}

.popup .popup-body .actions button{
	padding: 7px 10px;
	border-radius: 4px;
	font-size: 13px;
	border: 1px solid #aaa;
	background: #fff;
	color: #333;	
	outline: none;
	margin-left: 3px;
}

.popup .popup-body .actions button:last-child{
	background: #21dc86;
	color: #fff;
	border-color: #21dc86;
}

.popup .frm-error{
	background: #f40000;
	border-radius: 4px;
	color: #fff;
	padding: 5px 10px;
	font-size: 13px;
	margin: 15px 0;
	font-weight: 500;
}

.loading{
	padding: 20px 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.loading img{
	width: 30px;
}

.loading span{
	font-size: 13px;
	color: #666;
}

.gem{
	width: 12px;
	margin-left: 5px;
}

.justify{
	display: flex;
	align-items: center;
	justify-content: center;
}

#reportrange{
	display: inline-block;
	font-size: 13px;
	padding: 7px 10px;
	cursor: pointer;
	margin: 0 0 0;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	font-weight: 400;
}

#reportrange .fa-calendar{
	font-size: 16px;
	margin-right: 5px;
}

#reportrange .fa-caret-down{
	margin-left: 2px;
}

.filter{
	display: flex;
	justify-content: flex-end;
}

.daterangepicker{
}

.daterangepicker .calendar-table th{
	font-weight: 500;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
	background: #23db87 !important;
}

.daterangepicker td.disabled, .daterangepicker option.disabled{
	text-decoration: none !important;
	color: #ccc	 !important;
}

.daterangepicker .calendar-table th{
	padding-bottom: 10px !important;
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
	width: 40px !important;
	height: 30px !important;
}

.not-qualified{
	width: 15px;
	margin-left: 5px;
}

.head-title{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #666;
	word-spacing: 3px;
	display: inline-flex;
	align-items: center;
}

.idol-status.activated{
	color: #1fdd86;
	font-weight: 500;
}


.table-empty{
	padding: 20px;
    font-size: 14px;
    color: #666;
}

.date-info{
	font-size: 13px;
	color: #333;
	font-weight: 400;
	background: #f5f5f5;
	border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid #f0f0f0;
}

.date-info b{
	font-weight: 600;
}

.sort {
	cursor: pointer;
}

.sort .fa.disabled {
	opacity: .5;
}


